<mat-card>
  <mat-card-content>
    <form [formGroup]="newAccountForm" (ngSubmit)="newAccount()">
      <h2>Create New Account</h2>
      <mat-form-field appearance="fill">
        <mat-label>Account Type</mat-label>
        <mat-select placeholder="Account Type" name="accountTypeName" required formControlName="accountTypeName">
          <mat-option value="Cuenta Corriente">Cuenta Corriente</mat-option>
          <mat-option value="Caja de Ahorro">Caja de Ahorro</mat-option>
        </mat-select>
      </mat-form-field>
      <button class="button" type="submit" mat-raised-button color="primary">Create</button><br>
      <button type="submit" mat-raised-button color="primary" [routerLink]="['/account/user']">Cancel</button>
    </form>
  </mat-card-content>
</mat-card>
