<mat-card>
  <mat-card-content>
    <form >
      <h2>What do you want to search?</h2>
      <form [formGroup]="searchAByCustomerForm" (ngSubmit)="getAccountsByCustomerId()">
        <button type="submit" mat-raised-button color="primary">Account By Customer ID</button>
        <mat-form-field>
          <input matInput placeholder="CustomerId" name="customerId" required formControlName="customerId">
        </mat-form-field>
      </form>
    </form>
    <tr *ngFor="let index of accounts">
      <td>
        <div class="product-item">
          <div class="product-info">
            <h4 class="product-title"><a href="#">Tipo de Cuenta: </a><br><a>{{index.accountTypeId.name}}</a>
            </h4>
            <div class="text-lg text-medium text-muted"><a>Balance: $</a>{{index.balance}} <a> SofkaCoins</a></div>
            <div class="text-lg text-medium text-muted"><a>ID: </a>{{index.id}}</div>
            <div>State:
              <div class="d-inline text-success">{{index.state}}</div>
            </div>
          </div>
        </div>
      </td>
      <td class="text-center"><a class="remove-from-cart" href="#" data-toggle="tooltip" title=""
          data-original-title="Remove item"><i class="icon-cross"></i></a></td>
    </tr>
  </mat-card-content>
</mat-card>