<mat-card>
  <mat-card-content>
    <form [formGroup]="depositForm" (ngSubmit)="newdeposit()">
      <h2>Deposit</h2>
      <mat-form-field>
        <input matInput placeholder="AccountID" name="accountId" required formControlName="accountId">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Amount" name="amount" required formControlName="amount" type="number">
      </mat-form-field>
      <button type="submit" mat-raised-button color="primary">Deposit</button>
    </form>

    <tr *ngFor="let index of deposit">
      <td>
        <div class="product-item">
          <div class="product-info">
            <div class="text-lg text-medium text-muted"><a><b>DepositID: </b></a>{{index.id}}</div>
            <div class="text-lg text-medium text-muted"><a><b>Date: </b></a>{{index.dateTime}}</div>
            <div class="text-lg text-medium text-muted"><a><b>Amount: $</b></a>{{index.amount}} <a> SofkaCoins</a></div>
            <div class="text-lg text-medium text-muted"><a><b>AccountID: </b></a>{{index.accountId.id}}</div>
          </div>
        </div>
      </td>
      <td class="text-center"><a class="remove-from-cart" href="#" data-toggle="tooltip" title=""
          data-original-title="Remove item"><i class="icon-cross"></i></a></td>
    </tr>
  </mat-card-content>
</mat-card>




